<h1>Search for Hotels <br/>
<small>In major cities</small>
</h1>
<div class= "form">
<h3>Admin</h3>
	<div class="ui-widget">
	 <label for="city"> City: </label>
	     <input id="city">
	</div>
	 <label for="company"> Hotel: </label>
	     <input id="company">
		<div><button class="btn btn-info" id="btn">Submit</button></div>
</div>


